In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm 
import seaborn as sns 
sns.set()

In [2]:
new_data=pd.read_csv('Example-bank-data.csv')
new_data

     Unnamed: 0  duration    y
0             0       117   no
1             1       274  yes
2             2       167   no
3             3       686  yes
4             4       157   no
..          ...       ...  ...
513         513       204   no
514         514       806  yes
515         515       290   no
516         516       473  yes
517         517       142   no

[518 rows x 3 columns]

In [5]:
data=new_data.copy()
data['y']=data['y'].map({'yes':1,'no':0})
data

     Unnamed: 0  duration  y
0             0       117  0
1             1       274  1
2             2       167  0
3             3       686  1
4             4       157  0
..          ...       ... ..
513         513       204  0
514         514       806  1
515         515       290  0
516         516       473  1
517         517       142  0

[518 rows x 3 columns]

In [6]:
y=data['y']
x1=data['duration']

In [7]:
x=sm.add_constant(x1)
reg_log=sm.Logit(y,x)
results_log=reg_log.fit()

C:\Users\Lenovo\anaconda3\lib\site-packages\statsmodels\tsa\tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

Optimization terminated successfully.
         Current function value: 0.546118
         Iterations 7